@import (reference) "../../main";

.wdu-radio-label {
    display     : block;
    width       : max-content;
    height      : 30px;
    position    : relative;
    padding-left: 30px;
    font-size   : 14px;
    font-weight : 700;
    line-height : 30px;
    color       : @font-color-main;
    margin      : 0 10px;
    user-select : none;
}

.wdu-radio-label .wdu-radio-checkmark:after {
    width        : 40%;
    height       : 40%;
    border-radius: 50%;
}

.wdu-radio {
    position: absolute;
    opacity : 0;
    cursor  : pointer;

    &:checked~.wdu-radio-checkmark {
        .w-bg-active();
    }

    &:checked~.wdu-radio-checkmark:after {
        display: block;
    }
}

.wdu-radio-checkmark {
    position        : absolute;
    top             : 5px;
    left            : 0;
    height          : 18px;
    width           : 18px;
    background-color: white;
    border-radius   : 50%;
    border          : 3px solid rgb(231, 231, 231);
    cursor          : pointer;
    .w-bg-normal();
    .center();

    &:after {
        content : '';
        position: absolute;
    }
}

.wdu-radio-disabled {
    cursor: not-allowed;
    color : @button-color-disabled;
}