@import (reference) "../../main";

.wdu-radio-label {
    display     : block;
    width: max-content;
    height      : 30px;
    position    : relative;
    padding-left: 30px;
    font-size   : 14px;
    font-weight : 700;
    line-height : 30px;
    color       : @font-color-main;
    margin      : 0 10px;
    user-select : none;
}

.wdu-radio-label .wdu-radio-checkmark:after {
    width        : 40%;
    height       : 40%;
    border-radius: 50%;
    .w-bg-normal();
}

.wdu-radio {
    position: absolute;
    opacity : 0;
    cursor  : pointer;

    &:checked~.wdu-radio-checkmark {
        .w-bg-important();
    }

    &:checked~.wdu-radio-checkmark:after {
        display: block;
    }
}

.wdu-radio-checkmark {
    position        : absolute;
    top             : 5px;
    left            : 0;
    height          : 18px;
    width           : 18px;
    background-color: @button-color-back;
    border-radius   : 50%;
    border          : 1px solid rgb(224, 224, 224);
    cursor          : pointer;
    .w-bg-normal();
    .center();
    .out-shadow-normal();

    &:after {
        content   : '';
        position  : absolute;
    }
}

.wdu-radio-disabled {
    cursor: not-allowed !important;
}