@import (reference) "../../main";

.wdu-input {
    .flex();
    .out-shadow-light();
    box-sizing: content-box;
    margin    : 10px;
    width     : max-content;
}

.wdu-input-input {
    .out-shadow-light();
    -webkit-appearance: none;
    -moz-appearance   : none;
    background-color  : #fff;
    border            : 1px solid rgba(83, 83, 83, 0.15);
    border-radius     : 0 5px 5px 0;
    padding           : 5px;
    height            : 100%;
    outline           : 0;
    box-sizing        : border-box;
}

.wdu-input-label {
    .w-bg-active();
    .row-col_center();
    .center();
    font-size    : 16px;
    font-weight  : bold;
    color        : white;
    height       : 100%;
    padding      : 5px;
    box-sizing   : border-box;
    border-radius: 5px 0 0 5px;
    white-space  : nowrap;
}

.wdu-input-small {
    .w-small-text();
    height: 28px;
}

.wdu-input-medium {
    .w-normal-text();
    height: 36px;
}

.wdu-input-large {
    .w-large-text();
    height: 42px;
}