@import "../../main";

.wdu-button {
    box-sizing: border-box;
    padding: 0 20px;
    outline: none;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    transition: all 0.1s;
    white-space: nowrap;
    margin: 10px 10px;

    .w-radiu-normal();
    .w-border-solid();

    &:hover {
        cursor: pointer;
    }
}

.wdu-button-small {
    height: 30px;
}

.wdu-button-medium {
    height: 40px;
}

.wdu-button-large {
    height: 50px;
}

.wdu-button-normal {
    .w-bg-normal();
    color: @font-color-main;
}

.wdu-button-important {
    .w-bg-important();
    color: @button-color-front;
}

.wdu-button-danger {
    .w-bg-danger();
    color: @button-color-front;
}

.wdu-button-disabled {
    .w-bg-disabled();
    cursor: not-allowed !important;
    color: @button-color-disabled;
}