@import  (reference)  "../../main";

@width : 50px;
@height: 25px;

.wdu-switch {
    .center();
}

.wdu-switch-switch {
    box-sizing   : border-box;
    overflow     : hidden;
    width        : @width;
    height       : @height;
    border-radius: (@height / 2);
    .w-border-light();
    .inside-shadow-medium();
}

.wdu-switch-slide {
    width     : 75px;
    height    : 23px;
    transition: all .3s ease-in-out;
    position  : relative;
    left      : -25px;
    .flex();
    flex-wrap: nowrap;
    background-color: rgb(245, 245, 245);
}

.wdu-switch-label {
    .normal-text();
}

.wdu-switch-btn {
    min-width       : 22px;
    min-height      : 22px;
    background-color: white;
    // .w-border-light();
    .w-border-circle();
    .out-shadow-normal();
}

.wdu-state-dot {
    width : 8px;
    height: 8px;
    .w-border-circle();
}

.wdu-switch-open-dot {
    .wdu-state-dot();
    .w-bg-important();
}

.wdu-switch-close-dot {
    .wdu-state-dot();
    background-color: white;
    .inside-shadow-bold();
}

.wdu-switch-open,
.wdu-switch-close {
    min-width : 25px;
    min-height: 25px;
    .center();
}

.s-on {
    left: 0px;
}