@import (reference) "../../main";

.wdu-card {
    width : 280px;
    height: 320px;
    .w-radiu-normal();
    .out-shadow-light();
    .w-border-solid();
    overflow: hidden;
    .w-bgcolor-normal();
}

.wdu-card-small {
    width : 260px;
    height: 300px;
}

.wdu-card-normal {
    width : 280px;
    height: 320px;
}

.wdu-card-large {
    width : 300px;
    height: 340px;
}

.wdu-card-img{
    height:70%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.wdu-card-title{
    height:10%;
    .w-title-text();
}

.wdu-card-info{
    height:20%;
    box-sizing: border-box;
    .w-content-text();
}