@import (reference) "../../main";

.wdu-collapse {
    .w-border-light();
    background-color: white;
    overflow        : hidden;
    height          : max-content;
}

.wdu-collapse-title {
    .w-normal-text();
    .row-start();
    height       : 50px;
    padding      : 0 10px;
    box-sizing   : border-box;
    cursor       : pointer;
    border-bottom: 1px solid @line-color-light;
}

.wdu-collapse-block {
    overflow  : hidden;
    box-sizing: border-box;
    height    : 0px;
    .w-transition-quick();
    .inside-shadow-light();
}

.wdu-collapse-item {
    box-sizing: border-box;
    padding   : 0 25px;
    height    : 40px;
    transition: all 0.2s ease-in-out;
    .w-small-text();
    .row-start();

    &:hover {
        color: white;
        .w-bg-active();
    }
}

.wdu-collapse-menu {
    min-height: 50px;
    box-sizing: border-box;
}