@import (reference) "../../main";

.wdu-collapse {
    .w-radiu-normal();
    .out-shadow-normal();
    .w-bgcolor-normal();
    overflow: hidden;
    height  : max-content;
}

.wdu-collapse-title {
    .large-text();
    .row-start();
    height       : 50px;
    padding      : 0 10px;
    box-sizing   : border-box;
    cursor       : pointer;
    border-bottom: 1px solid @line-color-light;
}

.wdu-collapse-block {
    overflow  : hidden;
    box-sizing: border-box;
    height    : 0px;
    .w-transition-quick();
    .inside-shadow-medium();
}

.wdu-collapse-item {
    .small-text();
    .row-start();

    &:hover {
        color: @font-color-important;
        .w-bg-important();
    }

    box-sizing : border-box;
    text-indent: 25px;
    height     : 40px;
    transition : all 0.2s ease-in-out;
}

.wdu-collapse-menu {
    min-height: 50px;
    box-sizing: border-box;
}