.radiu-small {
    border-radius: 5px;
}

.radiu-normal {
    border-radius: 8px;
}

.radiu-medium {
    border-radius: 10px;
}

.radiu-large {
    border-radius: 16px;
}

.border-solid {
    border: 1px solid #dedede;
}
