.w-radiu-small {
    border-radius: 5px;
}

.w-radiu-normal {
    border-radius: 8px;
}

.w-radiu-medium {
    border-radius: 10px;
}

.w-radiu-large {
    border-radius: 16px;
}

.w-border-solid {
    border: 1px solid #dedede;
}
