@import (reference) '../main.less';

.w-large-text {
  font-size  : 18px;
  font-weight: 700;
  color      : @font-color-descript;
}

.w-normal-text {
  font-size  : 16px;
  font-weight: 600;
  color      : @font-color-descript;
}

.w-small-text {
  font-size  : 12px;
  font-weight: 700;
  color      : @font-color-descript;
}

.w-title-text {
  font-size  : 20px;
  font-weight: bold;
  color      : @font-color-main;
  margin     : 0 8px;
  .row-col_center();
}

.w-content-text {
  font-size: 16px;
  line-height: 24px;
  color    : @font-color-descript;
  margin   : 0 8px;
}

.w-nowrap {
  overflow     : hidden;
  text-overflow: ellipsis;
  white-space  : nowrap;
}