// Flex 布局
.flex {
  display       : flex;
  flex-direction: row;
  flex-wrap     : nowrap;
}

.row-col_center {
  .flex();
  align-items: center;
}

.center {
  .row-col_center();
  justify-content: center;
}

.row-around {
  .flex();
  justify-content: space-around;
}

.row-end {
  .flex();
  justify-content: flex-end;
}

.row-start {
  .flex();
  align-items    : center;
  justify-content: flex-start;
}

.col-row_center {
  .flex();
  flex-direction : column;
  justify-content: center;
}

// 附加布局
.w-box {
  box-sizing: border-box;
}

.hide-scroll {
  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
}