@import (reference) "../../main";

.wdu-checkbox-label {
    width: max-content;
    height      : 30px;
    position    : relative;
    padding-left: 30px;
    line-height : 30px;
    margin      : 0 10px;
    user-select : none;
    .center();
    .w-normal-text();
}

.wdu-checkbox-label .wdu-checkbox-checkmark:after {
    width : 40%;
    height: 40%;
}

.wdu-checkbox {
    opacity: 0;

    &:checked~.wdu-checkbox-checkmark {
        .w-bg-important();
    }

    &:checked~.wdu-checkbox-checkmark:after {
        display: block;
    }
}

.wdu-checkbox-checkmark {
    position     : absolute;
    left         : 0;
    height       : 16px;
    width        : 16px;
    border       : 3px solid rgb(231, 231, 231);
    cursor       : pointer;
    border-radius: 3px;
    align-items  : center;
    .w-bg-normal();

    &:after {
        content : '';
        position: absolute;
        width   : 12px;
        height  : 12px;
    }
}

.wdu-checkbox-disabled {
    z-index: 5;
    cursor : not-allowed;
    color  : @w-color-disabled;
}