@import  (reference)  "../../main";

.wdu-checkbox-label {
    height      : 30px;
    position    : relative;
    padding-left: 30px;
    font-size   : 14px;
    font-weight : 700;
    line-height : 30px;
    color       : @font-color-main;
    margin      : 0 10px;
    user-select : none;
    .center();
}

.wdu-checkbox-label .wdu-checkbox-checkmark:after {
    width        : 40%;
    height       : 40%;
    .w-bg-normal();
}

.wdu-checkbox {
    position: absolute;
    width: 18px;
    height: 18px;
    left: -2px;
    top:2px;
    opacity : 0;
    z-index: 10;
    cursor  : pointer;

    &:checked~.wdu-checkbox-checkmark {
        .w-bg-important();
    }

    &:checked~.wdu-checkbox-checkmark:after {
        display: block;
    }
}

.wdu-checkbox-checkmark {
    position        : absolute;
    top             : 5px;
    left            : 0;
    height          : 18px;
    width           : 18px;
    border          : 1px solid rgb(224, 224, 224);
    cursor          : pointer;
    border-radius: 3px;
    .w-bg-normal();
    .out-shadow-normal();

    &:after {
        content : '';
        position: absolute;
        width: 13px;
        height: 13px;
    }

    .center();
}

.wdu-checkbox-disabled {
    z-index:15;
    cursor: not-allowed !important;
}