@import (reference) "../../main";

@t: wdu-tab;

.@{t} {
    width     : 100%;
    height    : max-content;
    box-sizing: border-box;
    overflow  : hidden;
    background-color: white;
    .w-border-light();
}

.@{t}-head {
    overflow-x     : auto;
    width          : auto;
    display        : flex;
    justify-content: flex-start;
    height         : 30%;
    padding        : 10px 0;
    box-sizing     : border-box;
    border-bottom  : 1px solid rgba(207, 207, 207, 0.6);
    .hide-scroll();
}

.@{t}-tab {
    .w-large-text();
    .w-radiu-normal();
    .center();
    .cursor-on();
    min-height: 35px;
    min-width : 80px;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    margin: 0 10px;
    color: @font-color-main;
}

.@{t}-container {
    min-height: 100px;
    max-height: 300px;
    overflow  : auto;
    position  : relative;
}

.@{t}-block {
    width : 100%;
    height: max-content;
    .w-normal-text();
    display         : none;
    position        : relative;
    background-color: white;
    z-index         : 1;
    left            : 0;
    top             : 0;
    box-sizing      : border-box;
    padding         : 10px;
}

.@{t}-checked {
    .w-bg-active();
}

.@{t}-blockon {
    position: relative;
    z-index : 10;
    display : block;
}