@import "../../main";

.wdu-tab {
    width     : 100%;
    height    : max-content;
    box-sizing: border-box;
    overflow  : hidden;
    .out-shadow-normal();
    .w-radiu-normal();
    .w-bgcolor-normal();
}

.wdu-tab-head {
    display        : flex;
    justify-content: center;
    height         : 30%;
    padding        : 10px 0;
    box-sizing     : border-box;
    border-bottom  : 1px solid rgba(207, 207, 207, 0.6);
}

.wdu-tab-tab {
    min-height: 35px;
    width     : 80px;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    .title-text();
    .w-radiu-normal();
    .center();
}

.wdu-tab-container {
    min-height: 100px;
    max-height: 300px;
    overflow: auto;
    position: relative;
}

.wdu-tab-block {
    width : 100%;
    height: max-content;
    .normal-text();
    display: none;
    position: relative;
    background-color: white;
    z-index: 1;
    left: 0;
    top: 0;
    box-sizing: border-box;
    padding: 10px;
}

.wdu-tab-checked {
    .inside-shadow-medium();
    .w-bg-active();
}

.wdu-tab-blockon {
    position: relative;
    z-index : 10;
    display: block;
}